*{
  font-family: 'DM Sans', sans-serif;
}

::selection{
  background-color: #155d7c !important;
  color: #fff;
}

.text-theme{
  color: #08638a !important;
}

.pe-bg{
  background-color: #00a2ff !important;
}
